// Foundation's Media Query Ranges
@function lower-bound($range){
  @if length($range) <= 0 {
    @return 0;
  }
  @return nth($range,1);
}

@function upper-bound($range) {
  @if length($range) < 2 {
    @return 999999999999;
  }
  @return nth($range, 2);
}

$small-range: (0em, 40em) !default;
$medium-range: (40.063em, 64em) !default;
$large-range: (64.063em, 90em) !default;
$xlarge-range: (90.063em, 120em) !default;
$xxlarge-range: (120.063em, 99999999em) !default;

$screen: "only screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;

$small-up: $screen !default;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})" !default;

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})" !default;
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})" !default;

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})" !default;
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})" !default;

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})" !default;
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})" !default;

$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})" !default;
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})" !default;


@mixin breakpoint($min-width) {
    $mq:"#{$screen} and (min-width:#{$min-width})";
    @media #{$mq} {
        @content;
    }
}


#slide-media-queries{
    $base-bg:#50c989;
    .canvas{
        &:before, &:after{
            display:block;
            width:100%;
            line-height:6rem;
            height:6rem;
            text-align:center;
            font-size:2rem;
            background-color:$base-bg;
            color:darken($base-bg, 40%);
        }
        
        &:before{
            content:"Small";
            
            @media #{$medium-up}{
                content:"Medium";
                background-color:lighten($base-bg, 10%);
            }
            @media #{$large-up}{
                content:"Large";
                background-color:lighten($base-bg, 20%);
            }
            @media #{$xlarge-up}{
                content:"X-Large";
                background-color:lighten($base-bg, 30%);
            }
            @media #{$xxlarge-up}{
                content:"XX-Large";
                background-color:lighten($base-bg, 40%);
            }
        }

        &:after{
            $verse: I "don’t" want to set the world on fire I just want to start A flame in your heart;
            @for $i from 1 through length($verse) {
                $width: $i * 5em + 15em;
                @include breakpoint($width){
                    content:"#{nth($verse, $i)}";
                    background-color:lighten($base-bg, $i * 2%);
                }
            }
        }
    }
}