#slide-8 .canvas {
  background: #70f82a;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#70f82a), to(#bdf4e1));
  background: -webkit-linear-gradient(#70f82a, #bdf4e1);
  background: -moz-linear-gradient(#70f82a, #bdf4e1);
  background: -ms-linear-gradient(#70f82a, #bdf4e1);
  background: -o-linear-gradient(#70f82a, #bdf4e1);
  background: linear-gradient(#70f82a, #bdf4e1);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%; }

